export SECRET_KEY='2nhf8wb^1lx0st$j!
export MY_BASE_URL='https://127.0.0.1:8000'
export ASSETS_ROOT= '/static/assets'
export DEBUG = True
export DATABASE_NAME='trade_master'
export DATABASE_USER='11111'
export DATABASE_PASSWORD='!11111!'

