<script src="{{ ASSETS_ROOT }}/js/core/popper.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/core/bootstrap.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/plugins/perfect-scrollbar.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/plugins/smooth-scrollbar.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/custom.js"></script>

<link  href="{{ ASSETS_ROOT }}/jsonviewer/jquery.jsonview.css" rel="stylesheet" />
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="{{ ASSETS_ROOT }}/jsonviewer/jquery.jsonview.js"></script>

<link  href="{{ ASSETS_ROOT }}/css/custom.css" rel="stylesheet" />
{#<script src="http://code.jquery.com/jquery-1.10.2.js"></script>#}
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

{#<script src="{{ ASSETS_ROOT }}/prettyjson/prettyjson.js"></script>#}
{#<link  href="{{ ASSETS_ROOT }}/prettyjson/prettyjson.css" rel="stylesheet" />#}

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

<!--Sweet Aleart-->
<link rel='stylesheet' src="{{ ASSETS_ROOT }}/sweetalert2/css/sweetalert2.min.css">
<link rel='stylesheet' src="{{ ASSETS_ROOT }}/sweetalert2/css/animate.css">
<script src="{{ ASSETS_ROOT }}/sweetalert2/js/sweetalert2.all.min.js"></script>


