{% extends "layouts/base.html" %}

{% block title %} E-forsyning Meter Yearly Details{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <meta id="my-meter-id" data-id="{{ meter | safe }}">
    <meta id="my-meter_type-id" data-id="{{ meter_type | safe }}">

    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <div class="row">
                                <div class="col-md-8">
                                    <h6 class="text-white text ps-3"> E-forsyning Meter Yearly Details ({{ meter }}
                                        | {{ meter_type }}) </h6>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            <table id="Eforsyning_meter_details" class="table table-bordered table-striped dataTable" ,
                                   style="width:100%">

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Modal -->
    <div class="modal fade" id="customerhelp3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Help</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <em>ID</em>: The metering point id from datahub<br/>
                    <em>Meter number</em>: Often the number on customer's bill<br/>
                    <em>Address</em>: Official address of meter (not including location information)<br/>
                    <em>Type</em>: Type of meter. E17 = consumption, E18 = production<br/>
                    <em>Interval</em>: Data granularity. PT1H = every 1 hour, PT15M = every 15 minutes<br/>
                    <em>Last seen</em>: Timestamp of last encountered when requesting data from datahub
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script>
        $(document).ready(function () {
            var meter_type = $('#my-meter_type-id').data();
            var meter = $('#my-meter-id').data();

            fill_Eforsyning_meter_details_datatable(meter.id, meter_type.id, "yearly");

            $('#Eforsyning_meter_details').on('dblclick', 'tr', function () {
                var table = $('#Eforsyning_meter_details').DataTable();
                var data = table.row(this).data();
                console.log(data);
                window.location = "/scrappers/Eforsyning_meter_month_details/" + meter.id + "/" + meter_type.id + "/" + String(data.Time_stamp);

            });
            $(function () {
                $("#helpbtn3").click(function () {
                    $("#customerhelp3").modal("show");
                });
            });
            /**  $('#format_select').change(function () {

                var format = $(this).val();
                fill_ewii_meter_details_datatable(meter.id, meter_type.id, format);
            });
             **/

        });


    </script>

{% endblock javascripts %}
