{% extends "layouts/base.html" %}

{% block title %} Roles {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
    <div class="row mt-4">
        <div class="col-lg-12 col-12 mx-auto position-relative">
            <div class="card">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-md-3">
                            <h3>Dynamic Data View</h3>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <select id="coll_select" class="form-select form-select-lg mr-3 coll_s"
                                    style="background-color: white; height: 10px;">
                                <option value="select" selected>Select Collection</option>
                                {% for x in collections %}
                                    <option value="{{ x }}">{{ x }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="col-md-1">
                            <select id="sort_select" class="form-select form-select-lg mr-3 sort_s"
                                    style="background-color: white; height: 10px;">
                                <option value="asc">Asc</option>
                                <option value="desc">Desc</option>
                            </select>
                        </div>
                        <div class="col-md-1">
                            <select id="per_page__select" class="form-select form-select-lg mr-3 per_page__select"
                                    style="background-color: white; height: 10px;">
                                <option value="1">1</option>
                                <option value="2" selected>2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input type="text" placeholder="type a query  { 'field': 'value' }" class="form-group" style="width: 100%;" id="query_filter">
                        </div>
                        <div class="col-md-1">
                            <button type="button" id="fetch_btn" class="btn btn-sm btn-primary">Fetch</button>
                        </div>
                    </div>
                </div>
                <div class="card-body mt-0">
                    <div class="row">
                        <div class="col-md-8">
                            <button class="btn btn-sm btn-outline-secondary" id="collapse-btn">Collapse</button>
                            <button class="btn btn-sm btn-outline-secondary" id="expand-btn">Expand</button>
                            <button class="btn btn-sm btn-outline-secondary" id="toggle-btn">Toggle</button>
                            <button class="btn btn-sm btn-outline-secondary" id="toggle-level1-btn">Toggle level1
                            </button>
                            {#                            <button class="btn btn-sm btn-outline-secondary" id="toggle-level2-btn">Toggle level2#}
                            {#                            </button>#}
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <p class="text-lg-right mt-3 ml-auto">
                                 <span id="pagination_para"> Showing <span id="start" value="0"></span> - <span
                                         id="end"></span> of <span
                                         id="total"></span> records</span> &nbsp;&nbsp;&nbsp; <i
                                    class="fa fa-angle-left" style="font-size:19px" onclick="pagination_left()"></i>
                                &nbsp;
                                <i class="fa fa-angle-right" style="font-size:19px" onclick="pagination_right()"></i>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p class="text-lg-right mt-3 ml-auto">
                                <span><b>Collection:</b> </span>
                                <span id="collec_name"> _ </span> &nbsp;&nbsp;
                                <b>Sort: </b><span id="sort_name">asc</span> &nbsp;&nbsp;
                                <b>Per Page: </b> <span id="per_page">5</span> &nbsp;
                                <b>Filter: </b> <span id="filter_name">{}</span>
                            </p>
                        </div>
                    </div>


                    <div id="json"></div>


                    <p class="text-lg-right mt-3 ml-auto">
                        <span id="pagination_para"> Showing <span id="start1" data-value="2"></span> - <span
                                id="end1"></span> of <span
                                id="total1"></span> records</span> &nbsp;&nbsp;&nbsp; <i
                            class="fa fa-angle-left" style="font-size:19px" onclick="pagination_left1()"></i> &nbsp;
                        <i class="fa fa-angle-right" style="font-size:19px" onclick="pagination_right1()"></i>
                    </p>


                </div>
            </div>
        </div>
    </div>




{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script type="text/javascript">


        $(document).ready(function () {
            $('.coll_s').select2();
            $('.sort_s').select2();
            $('.per_page__select').select2();

            var json = {"collection_name": "collection"}
            $("#json").JSONView(json);

            $("#json-collapsed").JSONView(json, {collapsed: true, nl2br: true, recursive_collapser: true});

            $('#collapse-btn').on('click', function () {
                $('#json').JSONView('collapse');
            });

            $('#expand-btn').on('click', function () {
                $('#json').JSONView('expand');
            });

            $('#toggle-btn').on('click', function () {
                $('#json').JSONView('toggle');
            });

            $('#toggle-level1-btn').on('click', function () {
                $('#json').JSONView('toggle', 1);
            });


            $("#fetch_btn").click(function () {
                var coll_name = $('#coll_select').find(":selected").val();
                var sort_name = $('#sort_select').find(":selected").val();
                var per_page__select = parseInt($('#per_page__select').find(":selected").val());
                var filter = $("#query_filter").val();
                $("#collec_name").html(coll_name);
                $("#sort_name").html(sort_name);
                $("#filter_name").html(filter);

                loadMongoCollection(1, per_page__select, coll_name, sort_name, filter);
            });

        });
    </script>

{% endblock javascripts %}
